@page "/dodajartikal"
@using BlazorShop.Shared
@inject NavigationManager NM
@using Microsoft.AspNetCore.SignalR.Client


<h3>Dodaj artikal</h3>


<EditForm Model="art" OnValidSubmit="NapraviArtikal">
    <dev>
        <p>Naziv</p>
        <InputText @bind-Value="art.Naziv" />
    </dev>
    <dev>
        <p>Kolicina</p>
        <InputNumber @bind-Value="art.Kolicina" />
    </dev>
    <dev>
        <p>Cena</p>
        <InputNumber @bind-Value="art.Cena" />
    </dev>
    <button class="btn btn-primary" type="submit">Dodaj</button>
</EditForm>

<p>Trenutno u listi: @lArt.Count</p>

@{
    <ul>
        @foreach (Artikal a in lArt)
        {
            <li>@a</li>
        }
    </ul>
}


@*<button @onclick="SaljiArtikal" class="btn btn-primary">Sacuvaj</button>*@

<button @onclick="DodajArt" class="btn btn-primary">Dodaj2</button>



@code {

    public Artikal art = new Artikal();
    public List<Artikal> lArt = new List<Artikal>();

    public HubConnection  DodajArtikalServer;


    protected override async Task OnInitializedAsync()
    {

        DodajArtikalServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habdodajartikal")).Build();


        DodajArtikalServer.On<List<Artikal>>("ArtikalMetoda", lart =>

        {
            lArt = lart;
            StateHasChanged();
        });

        await DodajArtikalServer.StartAsync();

    }


    Task NapraviArtikal()
    {

        lArt.Add(new Artikal(art.Naziv, art.Kolicina, art.Cena));
        return DodajArtikalServer.SendAsync("PrihvatiArtikal", lArt);

    }

    //Task DodajArt()
    //{
    //    List<Artikal> art2 = new List<Artikal>();
    //    art2.Add(new Artikal("koka kola", 20, 30));
    //    art2.Add(new Artikal("fanta", 10, 15));
    //    art2.Add(new Artikal("sprite", 30, 50));
    //    art2.Add(new Artikal("bitter lemon", 40, 35));

    //    return DodajArtikalServer.SendAsync("PrihvatiArtikal", art2);
    //}

    public void DodajArt()
    {
        List<Artikal> art2 = new List<Artikal>();
        art2.Add(new Artikal("koka kola", 20, 30));
        art2.Add(new Artikal("fanta", 10, 15));
        art2.Add(new Artikal("sprite", 30, 50));
        art2.Add(new Artikal("bitter lemon", 40, 35));
        DodajArtikalServer.SendAsync("PrihvatiArtikal", art2);
    }
}
