@page "/dodajartikal"
@using BlazorShop.Shared
@inject NavigationManager NM
@using Microsoft.AspNetCore.SignalR.Client


<h3>Dodaj artikal</h3>


<EditForm Model="art" OnValidSubmit="NapraviArtikal">
    <dev>
        <p />
        <p>SKU</p>
        <InputText @bind-Value="art.SKU" />
    </dev>
    <dev>
        <p/>
        <p>Naziv</p>
        <InputText @bind-Value="art.Naziv" />
    </dev>
    <dev>
        <p />
        <p>Kolicina</p>
        <InputNumber @bind-Value="art.Kolicina" />
    </dev>
    <dev>
        <p />
        <p>Cena</p>
        <InputNumber @bind-Value="art.Cena" />
    </dev>
    <button class="btn btn-primary" type="submit">Dodaj</button>
</EditForm>

<p>Trenutno u listi: @lArt.Count</p>

@{
    <ul>
        @foreach (Artikal a in lArt)
        {
            <li>@a</li>
        }
    </ul>
}


<button @onclick="SaljiArtikal" class="btn btn-primary">Sacuvaj</button>

<button @onclick="DodajArt" class="btn btn-primary">Dodaj rucno art</button>
<button @onclick="DodajArt2" class="btn btn-primary">Dodaj rucno art2</button>


@code {

    public Artikal art = new Artikal();
    public List<Artikal> lArt = new List<Artikal>();

    public HubConnection  DodajArtikalServer;


    protected override async Task OnInitializedAsync()
    {

        DodajArtikalServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habdodajartikal")).Build();


        DodajArtikalServer.On<List<Artikal>>("ArtikalMetoda", lart =>

        {
            lArt = lart;
            StateHasChanged();
        });

        await DodajArtikalServer.StartAsync();

    }


    public void NapraviArtikal()
    {

        lArt.Add(new Artikal(art.SKU, art.Naziv, art.Kolicina, art.Cena));
        art = new Artikal();

    }


    public void SaljiArtikal()
    {
        DodajArtikalServer.SendAsync("PrihvatiArtikal", lArt);
        lArt.Clear();
    }


    public void DodajArt()
    {
        List<Artikal> art2 = new List<Artikal>();
        art2.Add(new Artikal("SKU111", "koka kola", 20, 30));
        art2.Add(new Artikal("SKU112", "fanta", 10, 15));
        art2.Add(new Artikal("SKU113", "sprite", 30, 50));
        art2.Add(new Artikal("SKU114", "bitter lemon", 40, 35));
        DodajArtikalServer.SendAsync("PrihvatiArtikal", art2);
    }

    public void DodajArt2()
    {
        List<Artikal> art2 = new List<Artikal>();
        art2.Add(new Artikal("SKU1111", "koka kola", 20, 30));
        art2.Add(new Artikal("SKU1112", "fanta", 10, 15));
        art2.Add(new Artikal("SKU1113", "sprite", 30, 50));
        art2.Add(new Artikal("SKU1114", "bitter lemon", 40, 35));
        DodajArtikalServer.SendAsync("PrihvatiArtikal", art2);
    }
}

