@page "/korpa"
@using BlazorShop.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NM
@inject Blazored.LocalStorage.ISyncLocalStorageService LS

<h1>Korpa</h1>
<h2>Vas racun</h2>

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th width="*"></th>
            <th  width="*">Sifra art.</th>
            <th width="*">Naziv</th>
            <th width="*">Cena</th>
            <th width="*">Kolicina</th>
        </tr>
        @foreach (Artikal a in PoruceniArtikli)
        {
            <tr>
                <td width="*"><button @onclick="(()=>UkloniIzKorpe(a))" class="btn btn-primary">Ukloni</button></td>
                <td width="*">@a.ID</td>
                <td width="*">@a.Naziv</td>
                <td width="*">@a.Cena</td>
                <td width="*">@a.Kolicina</td>
            </tr>
        }
    </table>
</body>
</html>



<button class="btn btn-primary" @onclick="ZavrsiRacun">Zavrsi racun</button>



@code {

    public HubConnection KorpaServer;

    public Artikal art2 = new Artikal();
    public List<Artikal> PoruceniArtikli = new List<Artikal>();
    public List<Artikal> KupljeniArtikli = new List<Artikal>();
    public decimal UkupnaCena = 0;


    protected override async Task OnInitializedAsync()
    {

        KorpaServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habkorpa")).Build();


        KorpaServer.On<List<Artikal>>("KorpaMetoda", kArt =>

        {
            PoruceniArtikli = kArt;
            StateHasChanged();
        });


        await KorpaServer.StartAsync();

        if (LS.ContainKey("CuvajKorpu"))
        {
            PoruceniArtikli = LS.GetItem<List<Artikal>>("CuvajKorpu");
        }
    }

    async Task ZavrsiRacun()
    {
        await KorpaServer.SendAsync("KorpaRacun", PoruceniArtikli);
        PoruceniArtikli.Clear();
    }

    public void UkloniIzKorpe(Artikal a)
    {
        PoruceniArtikli.Remove(a);
        LS.SetItem("CuvajKorpu", PoruceniArtikli);
    }
}
