@page "/korpa"
@using BlazorShop.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NM

<h1>Korpa</h1>

 <button class="btn btn-primary" @onclick="PrikaziKorpu">Prikazi korpu</button>
<div>
    <ul>
        @foreach (Artikal a in PoruceniArtikli)
        {
            
            <li><button class="btn btn-primary">-</button> @a</li>
        }
    </ul>
</div>
<button class="btn btn-primary" @onclick="ZavrsiRacun">Zavrsi racun</button>
<h2>Vas racun:</h2>
<div>
    <ul>
        @foreach (Artikal art in KupljeniArtikli)
        {
            <li>@art.Naziv  -  @art.Cena   -   @art.Kolicina  </li>
            UkupnaCena += art.Cena;
        }
    </ul>
    <p>Ukupno: @UkupnaCena </p>
   
</div>

@code {

    public HubConnection KorpaServer;
    public HubConnection ShopServer;
    public Artikal art2 = new Artikal();
    public List<Artikal> PoruceniArtikli = new List<Artikal>();
    public List<Artikal> KupljeniArtikli = new List<Artikal>();
    public decimal UkupnaCena = 0;


    protected override async Task OnInitializedAsync()
    {

        ShopServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habshop")).Build();
        KorpaServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habkorpa")).Build();

        KorpaServer.On<List<Artikal>>("RacunMetoda", kArt =>

        {
            KupljeniArtikli = kArt;
            StateHasChanged();
        });


        await KorpaServer.StartAsync();



        KorpaServer.On<List<Artikal>>("KorpaMetoda", kArt =>

        {
            PoruceniArtikli= kArt;
            StateHasChanged();
        });


        await KorpaServer.StartAsync();


    }

    public void PrikaziKorpu()
    {

        KorpaServer.SendAsync("Korpa2");
    }

    public void ZavrsiRacun()
    {
        KorpaServer.SendAsync("KorpaRacun");
    }
}
