@page "/shop"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorShop.Shared
@using BlazorShop.Client
@inject NavigationManager NM


<h1>Shop</h1>

<button class="btn btn-primary" @onclick="PrikaziArtikle">Artikli</button>

<div>
    <ul>
        @foreach (Artikal art in lArt)
        {
            <li><button class="btn btn-primary" @onclick="(()=>DodajUKorpu(art))">+</button> @art</li>
        }
    </ul>
</div>

<h2>Izabrali ste:</h2>

<div>
    <ul>
        @foreach (Artikal art in IzabraniArtikal)
        {
        <li>@art</li>
        }
    </ul>
</div>

<h2>Korpa @Korpa2.Count</h2>
<div>
    <ul>
        @foreach (Artikal b in Korpa2 )
        {
            <li>@b</li>
        }
    </ul>
</div>


<button @onclick="PosaljiUKorpu" class="btn btn-primary">Dodaj u korpu!</button>

@code {

    public HubConnection ShopServer;
    public HubConnection KorpaServer;
    public List<Artikal> lArt = new List<Artikal>();
    public List<Artikal> IzabraniArtikal = new List<Artikal>();
    public List<Artikal> Korpa2 = new List<Artikal>();
    public decimal UkupnaCena { get; set; } = 0;
    Artikal art = new Artikal();

    protected override async Task OnInitializedAsync()
    {

        ShopServer= new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habshop")).Build();
        KorpaServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habkorpa")).Build();

        ShopServer.On<List<Artikal>>("ArtikalMetoda", lart =>

        {
            lArt = lart;
            StateHasChanged();
        });

        await ShopServer.StartAsync();


        ShopServer.On<List<Artikal>>("KorpaMetoda", kArt =>

        {
            Korpa2 = kArt;
            StateHasChanged();
        });

        await ShopServer.StartAsync();

    }

    public void  PrikaziArtikle()
    {
        ShopServer.SendAsync("SviArtikli");
    }
    public void DodajUKorpu(Artikal a)
    {
        IzabraniArtikal.Add(a);
        //ShopServer.SendAsync("Korpa", a);

    }

    public void PosaljiUKorpu()
    {
        ShopServer.SendAsync("Korpa", IzabraniArtikal);


        IzabraniArtikal = new List<Artikal>();
    }


}
