@page "/shop"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorShop.Shared
@using BlazorShop.Client
@inject NavigationManager NM


<h1>Shop</h1>

<button class="btn btn-primary" @onclick="PrikaziArtikle">Artikli</button>

<div>
    <ul>
        @foreach (Artikal art in lArt)
        {
            <li>@art</li>
        }
    </ul>
</div>

@code {

    public HubConnection ShopServer;
    List<Artikal> lArt = new List<Artikal>();
    Artikal art = new Artikal();

    protected override async Task OnInitializedAsync()
    {

        ShopServer= new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habdodajartikal")).Build();

        ShopServer.On<List<Artikal>>("ArtikalMetoda", lart =>

        {
            lArt = lart;
            StateHasChanged();
        });

        await ShopServer.StartAsync();

    }

    Task  PrikaziArtikle()
    {
       return ShopServer.SendAsync("SviArtikli");
    }



}
