@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorShop.Shared
@inject NavigationManager NM
@inject Blazored.LocalStorage.ISyncLocalStorageService LS

<h1>WEB SHOP-C#</h1>

@code {
    

}
