@inherits LayoutComponentBase
@using BlazorShop.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject Blazored.LocalStorage.ISyncLocalStorageService LS
@inject NavigationManager NM

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        
        @if (!LogovaniKorisnik)
        {
        <EditForm Model="@Juzer" OnSubmit="Submit">
            <InputText @bind-Value="Juzer.Username" placeholder="Username" name="Username" />
            <InputText @bind-Value="Juzer.Password" placeholder="Password" type="password" name="pass" />
            <button class="oi oi-account-login, btn btn-outline-success, type="submit" >  Log In</button> 
        </EditForm>

            <a href="registracijalogin"><button class="oi-account-login, btn btn-outline-success" type="submit"> Registracija</button></a>
        }
        else { 
            <a><button class="oi oi-account-logout btn btn-outline-success" @onclick="OdjaviJuzera" type="submit"> Logout</button></a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code{
    public User Juzer { get; set; } = new User();
    public HubConnection MainServer;
    public bool LogovaniKorisnik { get; set; }
    public bool Osvezi { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        MainServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habloginreg")).Build();

        if (LS.GetItem<User>("CuvajJuzera") != null)
        {
            Juzer = LS.GetItem<User>("CuvajJuzera");
            LogovaniKorisnik = true;
            StateHasChanged();

        }

        await MainServer.StartAsync();
    }

    public void Submit()
    {
        MainServer.On<User>("EvoJuzera", us =>
        {


            Juzer = us;
            LogovaniKorisnik = true;
            LS.SetItem("CuvajJuzera", Juzer);

            StateHasChanged();

        });
        MainServer.SendAsync("ProveriKorisnika", Juzer);
    }

    public void OdjaviJuzera()
    {
        Juzer = new User();
        LS.RemoveItem("CuvajJuzera");
        LogovaniKorisnik = false;
        StateHasChanged();
    }
}