<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorShop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="server">
                <span class="oi oi-home" aria-hidden="true"></span> Server
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shop">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Shop
            </NavLink>
        </li>
        @if (Promenljiva)
        { 
        <li class="nav-item px-3" >
            <NavLink class="nav-link" href="dodajartikal" >
                <span class="oi oi-plus" aria-hidden="true"></span> Dodaj artikal
            </NavLink>
        </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="korpa">
                <span class="oi oi-basket" aria-hidden="true"></span> Korpa
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registracijalogin">
                <span class="oi oi-account-login" aria-hidden="true"></span> Log In/Registracija
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    public bool Promenljiva { get; set; } = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
